@import "./button";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  & .allCommentsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
  }

  & .comment {
    border-bottom: 2px outset salmon;
    border-left: 1px outset darksalmon;
    padding: 0 0 5px 5px;
    margin: 5px 0;

    & > div {
      display: flex;
      justify-content: space-between;

      & .commentInfo {

        & > .text {
        }

        & .details {
          font-size: 0.8rem;
          display: flex;
          justify-content: flex-start;
          flex-direction: row;

          & > div {
            width: 100%;
          }
        }

        & button {
          margin: 0 5px;
        }
      }
    }
  }


}


.txtWithButton {
  display: flex;
  flex-direction: column;
  &>input {
    margin-bottom: 10px;
    width: 200px;
  }
  &>.txtAreaWithBtn {
  display: flex;
    & > textarea {
      width: 100%;
      resize: none;
    }
  }
}
