.postContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border-bottom: 2px outset salmon;
  border-left: 1px outset darksalmon;
  margin: 0 0 10px 0;
  .post {
    display: flex;
    flex-direction: column;
    & > p {
      padding: 0 5px;
      cursor: pointer;
      border-bottom: 1px solid;
    }
    & > div {
      display: flex;

      & > p {
        padding: 0 5px;
        cursor: pointer;
        border-bottom: 1px solid;
      }

      &.postDetails {
        display: flex;
        font-size: 0.8rem;
      }

    }

    & > * {
      margin: 10px;
    }
  }
}
