.post {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border-bottom: 2px outset salmon;
  border-left: 1px outset darksalmon;
  margin: 0 0 10px 0;

  & > div {
    display: flex;
    flex-direction: row;
  }

  & p {
    padding: 0 5px;
    cursor: pointer;
  }

  & > * {
    margin: 10px;
  }
}
