@import "../components/button";

.page-wrapper {
  display: flex;
  justify-content: center;
  --btnMinHeight: 40px;

  & > .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > .heading {
      font-size: 2rem;
    }

    & > label {
      align-items: center;
      display: flex;
      justify-content: space-around;
      width: 40vw;
      margin: 10px;
    }

    & input {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      padding: 5px;
      background: #ff3b0057;
    }
  }
}
