.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;

  & > div {
    width: 80%;
  }

  @media only screen and (min-width: 1000px) {
    & > div {
      width: 60%;
    }
    & .header {
      width: 60%;
    }
  }

  & .topic {
    display: flex;
    justify-content: center;
  }

  & > .header {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    width: 100%;
    justify-content: space-around;
  }
}

.mousePointer {
  cursor: pointer;
  text-decoration: underline;
}
